@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
--c-orange: #ffa630;
--c-light-green: #d7e8ba;
--c-teal: #4da1a9;
--c-blue: #2e5077;
--c-burgundy: #611c35; 
*/

.App--card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
}